/* Add a black background color to the top navigation */
.topnav {
  background-color: #111;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a, label {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 14px;
  font-family: Consolas;
}

/* Change the color of links on hover */
.topnav a:hover, label:hover {
  background-color: #aaa;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active, label.active {
  background-color: #4CAF50;
  color: white;
}
.centered {
  position: fixed; top: 10%; left: 25%; z-index: 1000;
  width: 50%; height: 80%;
  background: rgb(19, 19, 19); color: white;
  overflow: auto;
}
